
@{

    ViewData["Title"] = "About Us - ABC Supply Company";

}

<div class="jumbotron" style="text-align:center">
    <h1>About ABC Supply Company</h1>
</div>
    <div class="row">
        <div class="col 12">
            <h3>History of ABC Supply </h3>
            <div>
                Nulla accumsan massa sed lorem posuere consequat at sit amet dui. Mauris auctor convallis ex, vel gravida tortor. Mauris id metus sodales, semper quam sit amet,
                ullamcorper odio. Donec ac efficitur lorem. Maecenas et pharetra libero. Praesent id faucibus mauris, eu tincidunt elit. Nam ut pretium risus. Sed vestibulum mauris
                id massa egestas maximus. Aliquam erat volutpat. Nullam volutpat placerat ex, vel suscipit sapien. Suspendisse et lorem augue. Aenean in massa at purus porta faucibus.
                Cras a porttitor est. Cras porta risus eu massa vulputate congue non et turpis. Cras ultricies ligula et lacus efficitur, vitae gravida mauris ullamcorper.
            </div>
        </div>
    </div>
<br />
    <div class="row">
        <div class="col 12">
            
            <h3>ABC Supply Core Values </h3>
            <div>
                Cras volutpat ornare turpis, ut suscipit erat mollis at. Donec vestibulum tellus in laoreet fermentum. In eu pulvinar leo, nec accumsan libero. Phasellus quis ultricies dolor,
                dapibus hendrerit lorem. Maecenas varius ex sed efficitur fringilla. Maecenas pulvinar dui eget vulputate lacinia. Duis non tincidunt quam.
                Vivamus malesuada mattis iaculis. Curabitur pharetra ipsum sapien, non faucibus quam feugiat ut. Nunc sit amet neque vitae urna malesuada placerat quis quis purus.
            </div>
        </div>
    </div>
<br />

    <h3>ABC Supply Management Team </h3>
   
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card bg-transparent">
                    <img class="card-img-top img-responsive" src="~/images/TeamMember1.jpg"  alt="Brian Wilson"/>
                    <div class="card-body">
                        <h4 class="card-title">Brian Wilson</h4>
                        <h6 class="card-subtitle mb-2 text-muted">CEO</h6>
                        <p class="card-text">Odio tempor orci dapibus ultrices in. Nulla malesuada pellentesque elit eget gravida. Bibendum at varius vel pharetra vel turpis. Nunc lobortis mattis aliquam faucibus purus.  </p>
                        
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card bg-transparent">
                    <img class="card-img-top img-responsive" src="~/images/TeamMember2.jpg"  alt="Jude Lennon"/>
                    <div class="card-body">
                        <h4 class="card-title">Jude Lennon</h4>
                        <h6 class="card-subtitle mb-2 text-muted">CFO</h6>
                        <p class="card-text">Odio tempor orci dapibus ultrices in. Nulla malesuada pellentesque elit eget gravida. Bibendum at varius vel pharetra vel turpis. Nunc lobortis mattis aliquam faucibus purus.  </p>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card bg-transparent">
                    <img class="card-img-top img-responsive" src="~/images/TeamMember3.jpg" alt="Billy Bob" />
                    <div class="card-body">
                        <h4 class="card-title">Billy Bob</h4>
                        <h6 class="card-subtitle mb-2 text-muted">COO</h6>
                        <p class="card-text">Odio tempor orci dapibus ultrices in. Nulla malesuada pellentesque elit eget gravida. Bibendum at varius vel pharetra vel turpis. Nunc lobortis mattis aliquam faucibus purus.  </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card bg-transparent">
                    <img class="card-img-top img-responsive" src="~/images/TeamMember4.jpg" alt="John Smith"  />
                    <div class="card-body">
                        <h4 class="card-title">John Smith</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Executive Director of Development</h6>
                        <p class="card-text">Odio tempor orci dapibus ultrices in. Nulla malesuada pellentesque elit eget gravida. Bibendum at varius vel pharetra vel turpis. Nunc lobortis mattis aliquam faucibus purus.  </p>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card bg-transparent">
                    <img class="card-img-top img-responsive" src="~/images/TeamMember5.jpg" alt="Judy Collins" />
                    <div class="card-body">
                        <h4 class="card-title">Judy Collins</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Executive VP of Marketing</h6>
                        <p class="card-text">Odio tempor orci dapibus ultrices in. Nulla malesuada pellentesque elit eget gravida. Bibendum at varius vel pharetra vel turpis. Nunc lobortis mattis aliquam faucibus purus.  </p>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card bg-transparent">
                    <img class="card-img-top img-responsive" src="~/images/TeamMember6.jpg" alt="William Townsend" />
                    <div class="card-body">
                        <h4 class="card-title">William Townsend </h4>
                        <h6 class="card-subtitle mb-2 text-muted">Director of Fleet Operations</h6>
                        <p class="card-text">Odio tempor orci dapibus ultrices in. Nulla malesuada pellentesque elit eget gravida. Bibendum at varius vel pharetra vel turpis. Nunc lobortis mattis aliquam faucibus purus.  </p>

                    </div>
                </div>
            </div>
        </div>
        
    


