@{


    ViewData["Title"] = "Home - ABC Supply Company";
}

<div class="jumbotron" style="text-align:center">
    <h1 class="display-4">Welcome to ABC Supply Company</h1>
    <h3>
        Your Primary Source for Industrial Plastic Recycling Surplus Products.
    </h3>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Why ABC Supply Company?</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nibh dolor, volutpat id porta scelerisque, faucibus ac metus.
            Sed nec ligula mollis, fringilla ante eu, pharetra nisi.Fusce orci massa, viverra at malesuada sed, auctor ut.
        </p>
        <p><a class="btn btn-lg btn-light btn-outline-dark" href="home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>The Services We Offer</h3>
        <p>
            Donec semper nisi sit amet rutrum dignissim. Phasellus dui mauris, interdum ut diam sed, interdum ornare est. Fusce non nibh a
            odio eleifend dignissim id ut lectus. Maecenas laoreet tellus purus, id malesuada felis sollicitudin viverra. Nam metus leo, dictum
            non porttitor vitae, viverra non massa.
        </p>
        <p><a class="btn btn-lg btn-light btn-outline-dark" href="home/Services">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Inventory of Surplus Plastics </h3>
        <p>
            Sed scelerisque convallis sapien in consequat. Fusce quis facilisis magna. Sed dolor libero, auctor at cursus vitae, tristique nec sem.
            Donec mattis, elit rhoncus faucibus fringilla, quam est consequat sem, id dignissim risus metus.
        </p>
        <p><a class="btn btn-lg btn-light btn-outline-dark" href="home/Inventory">Learn more &raquo;</a></p>
    </div>
</div>