
@{
    ViewData["Title"] = "Inventory-ABC Supply Company";
}




<div class="jumbotron" style="text-align:center">
    <h1>Search ABC Supply's Inventory</h1>
</div>

<div class="container">

    <table cellpadding="0" cellspacing="0" border="0" class="display" id="inventory" width="100%">
        <thead>
            <tr>
                <th>Lot/Tag Number</th>
                <th>Lot/Tag Description</th>
                <th>Weight Net</th>
                <th>On Hand Balance</th>
                <th>Unit of Measure</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>19/0405/14</td>
                <td>SANTOPRENE VARIOUS NAT.253-36 & 251-70 (26)</td>
                <td>1878</td>
                <td>35</td>
                <td>BAGS</td>
            </tr>
            <tr>
                <td>19/0407/07</td>
                <td>VIRG. PPHP TV 40% BLACK PELLETS</td>
                <td>561</td>
                <td>1</td>
                <td>GLORD</td>
            </tr>
            <tr>
                <td>19/0464/26</td>
                <td>RG IXEF 1032 NATURAL</td>
                <td>656</td>
                <td>1</td>
                <td>GAYLORD</td>
            </tr>
            <tr>
                <td>19/0516/02A</td>
                <td>RG. LEXAN 3433R-739 BLACK</td>
                <td>393</td>
                <td>1</td>
                <td>DRUM</td>
            </tr>
            <tr>
                <td>19/0532/13</td>
                <td>VIRGIN SURYN & ULTRAMID PELLET</td>
                <td>486</td>
                <td>1</td>
                <td>GLORD/BAG</td>
            </tr>
            <tr>
                <td>19/0552/34B</td>
                <td>SRG. PEI PC 901 BLACK</td>
                <td>284</td>
                <td>1</td>
                <td>DRUM</td>

            </tr>
            <tr>
                <td>19/0629/41</td>
                <td>RG. CELCON BLACK</td>
                <td>536</td>
                <td>2</td>
                <td>DRUMS</td>
            </tr>
            <tr>
                <td>19/0659/14</td>
                <td>PBT CELENAX 4302 BLACK PELLETS</td>
                <td>2205</td>
                <td>40</td>
                <td>BAGS</td>
            </tr>
            <tr>
                <td>119/0687/26A</td>
                <td>RG. RITEFLEX 655 NATURAL</td>
                <td>193</td>
                <td>1</td>
                <td>LNP BOX</td>
            </tr>
            <tr>
                <td>19/0707/08</td>
                <td>UNGR. TPU NATURAL</td>
                <td>1230</td>
                <td>1</td>
                <td>BALE</td>
            </tr>
            <tr>
                <td>19/0730/16B</td>
                <td>RG. ZYTEL 70G33L GREY</td>
                <td>275</td>
                <td>1</td>
                <td>LNP</td>
            </tr>
</table>

</div>

