<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44370" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="DbType" value="SqlServer" />
          <environmentVariable name="DbConnection" value="Server=(localdb)\\mssqllocaldb;Database=aspnet-ABCSupplyCompany-AF91B8D8-23C1-45AD-B964-3F573E5C538E;MultipleActiveResultSets=true" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>