@{
    ViewData["Title"] = "Home - ABC Supply Company";
}

<div class="text-center">
    <h1 class="display-4">Welcome To ABC Supply Company</h1>
    <h4>Your Primary Source for <br />
    Industrial Plastic Recycling Surplus Products.</h4>
</div>
